apache-airflow-providers-http
langchain-community
langchain-google-genai
requests
python-dotenv
langchain-text-splitters
langchain-huggingface
langchain-pinecone
pinecone-client
sentence-transformers
huggingface_hub