# Archivo: requirements-api.txt (CORREGIDO)
fastapi
uvicorn[standard]
python-dotenv
requests
pypdf

# Nuevas librerías de LangChain (correctas)
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-chroma

# Dependencia para embeddings locales
sentence-transformers

huggingface_hub