fastapi
uvicorn[standard]
python-dotenv
requests
# Nuevas librerías de LangChain 
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langchain-pinecone
# Pinecone
pinecone-client
# Dependencia para embeddings locales
sentence-transformers
huggingface_hub